@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background: #324c66;
    font-family: 'Oswald';       
}
h1{
    text-align: center;
}
input[ type="submit"] {
    color:white;
    background-color:green;
    padding: 2px 10px 2px 10px;
    border: 0px;
}
input[ type="reset"]{
    color:white;
    background-color:red;
    padding: 2px 10px 2px 10px;
    border: 0px;
}
form {
    margin: auto;
    margin-top: 75;
    padding: 20px 25px 20px 25px;
    background: white;
    border-radius: 6px;
    width: fit-content;
   
}
input[type="text"] 
{
    width: 100%;
    padding: 3px;
    margin: 3px;
}
input[type="email"]
{
    width: 100%;
    padding: 3px;
    margin: 3px;
}
input[type="password"]
{
    width: 100%;
    padding: 3px;
    margin: 3px;
}
input[type="date"]
{
    width: 100%;
    padding: 3px;
    margin: 3px;
}
input[type="number"]
{
    width: 100%;
    padding: 3px;
    margin: 3px;
}
textarea
{
    width: 100%;
    padding: 10px;
    margin: 3px;
    margin-bottom: 25px;
}